<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCBhPGaSgY7NqqW_O3qfOKHNdyY7IIQOw</string>
	<key>GCM_SENDER_ID</key>
	<string>33930867165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ovexlabs.Ever-or-Never</string>
	<key>PROJECT_ID</key>
	<string>ever-or-never</string>
	<key>STORAGE_BUCKET</key>
	<string>ever-or-never.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33930867165:ios:d0f00018c1d87200a50634</string>
</dict>
</plist>